






























label[data-v-45ba5ed4] {
    text-align: center;
    font-size: 25;
}

Button[data-v-45ba5ed4] {
    background-color: #00caab;
}





























.large[data-v-303c0480] {
    font-size: 40;
}

